/Où va la Data Science \?.mp3
/Techniques pour améliorer son éligibilité pour travailler dans la data.mp3
/Le long parcours d'un cas d'usage applicatif en NLP, de 2013 à 2022.mp3
/Lyon Data Science : Data Science en production avec R : quels enjeux \? Quelles solutions\?.mp3
/Lyon Data Science : AutoML avec R: le tuning de modèles pour paresseux.mp3
/Lyon Data Science - Machine Learning en production.mp3
/Efficacité 'réelle' d'un test de catégorisation.mp3
/Lyon Data Science Open Street Map 24-10-2017.mp3
/Lyon Data Science : Les ressources indispensables pour débuter en Big Data - Machine Learning \!.mp3
/Lyon Data Science : Milou est à Tintin ce que Rantanplan est à Lucky Luke - NLP & Word Embeddings.mp3
/Lyon Data Science : L'importance de la normalisation en analyse de données.mp3
/Lyon Data Science : Présentation Amazon WS et prédiction RedShift et ML.mp3
/Lyon Data Science - Meetup \#3.mp3
/Construire des produits data-driven.mp3
/Lyon Data Science : What to do before an A|B test\? An exploration of offline evaluation methods.mp3
/L'Industrialisation des modèles de machine learning via la conteneurisation.mp3
/Recommandation de contenus chez 6play.mp3
/Lyon Data Science - Prédiction de classements de courses sportives à partir d’estimations locales.mp3
/Lyon Data Science : Introduction au Machine Learning avec Spark 2.x et Scala.mp3
/Lyon Data Science - Enjeux de l'Intelligence Artificielle.mp3
/Lyon Data Science : 7 conseils pour démarrer avec Spark.mp3
/Lyon Data Science : Place de R et Python dans les formations en Data Science.mp3
/Lyon Data Science : Présentation de Sagemaker: plateforme ML d'AWS.mp3
/Lyon Data Science : Quickly build Data Science web apps with Streamlit.mp3
/Lyon Data Science La détection de fraude.mp3